.container {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    } 
    button {
        height: fit-content;
        padding: 0.75rem 1rem;
        background-color: mediumaquamarine;
        color: white;
        border: none;
        border-radius: 6px;
        cursor: pointer;

        transition: box-shadow ease-in-out 0.2px;

        &hover {
            box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
        }
    } 
}